.gpt3__blog-container_article {
    /* width: 100%; */

    display: flex;
    flex-direction: column;
    background: var(--color-footer);

    min-height: 100%;
}

.gpt3__blog-container_article-image {
    background: var(--color-footer);
}

.gpt3__blog-container__article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem 1.5rem;
}

.gpt3__blog-container__article-content p {
    font-weight: 700;
    font-size: 12px;
    line-height: 35px;
}

.gpt3__blog-container__article-content h3 {
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;

    margin-bottom: 5rem;
}

.gpt3__blog-container__article-content p:last-child {
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .gpt3__blog-container__article-content h3 {
        font-size: 18px;
        line-height: 25px;
    }
}
